<ion-header>

  <ion-navbar color="dark">
    <ion-title>Sponsors</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>

    <ion-card-header class="card-header">
      Sponsors
    </ion-card-header>

    <ion-card-content>

      <ion-item-group *ngFor="let level of sponsors">

        <h2 class="headline" *ngIf="level.sponsors.length">{{ level.level }}</h2>
        <ion-item *ngFor="let sponsor of level.sponsors">
          <h2>{{ sponsor.sponsor_name }}</h2>

          <a href="http://{{ sponsor.sponsor_url }}">
            <img class="sponsor-logo" src="https://www.lambdaphx.org/images/sponsor-logos/{{ sponsor.sponsor_logo}}" />
          </a>

        </ion-item>

      </ion-item-group>

    </ion-card-content>

  </ion-card>

</ion-content>
